<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <display-name>GameVideoService</display-name>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/resources/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>games</servlet-name>
        <servlet-class>controller.content.GameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>games</servlet-name>
        <url-pattern>/games</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>games_list</servlet-name>
        <servlet-class>controller.content.GameListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>games_list</servlet-name>
        <url-pattern>/games_list</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>genres</servlet-name>
        <servlet-class>controller.content.GenreServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>genres</servlet-name>
        <url-pattern>/genres</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>titles</servlet-name>
        <servlet-class>controller.content.TitleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>titles</servlet-name>
        <url-pattern>/titles</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>developers</servlet-name>
        <servlet-class>controller.content.DevServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>developers</servlet-name>
        <url-pattern>/developers</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>platforms</servlet-name>
        <servlet-class>controller.content.PlatformServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>platforms</servlet-name>
        <url-pattern>/platforms</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>add_genre</servlet-name>
        <servlet-class>controller.content.GenreServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>add_genre</servlet-name>
        <url-pattern>/add_genre</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>add_title</servlet-name>
        <servlet-class>controller.content.TitleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>add_title</servlet-name>
        <url-pattern>/add_title</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>add_developer</servlet-name>
        <servlet-class>controller.content.DevServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>add_developer</servlet-name>
        <url-pattern>/add_developer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>add_platform</servlet-name>
        <servlet-class>controller.content.PlatformServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>add_platform</servlet-name>
        <url-pattern>/add_platform</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>dashboard</servlet-name>
        <servlet-class>controller.DashBoardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dashboard</servlet-name>
        <url-pattern>/inner/dashboard</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>inner_filter</filter-name>
        <filter-class>controller.filter.InnerFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>inner_filter</filter-name>
        <url-pattern>/inner/*</url-pattern>
    </filter-mapping>
</web-app>